absl-py==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asttokens==3.0.1
astunparse==1.6.3
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
comm==0.2.3
cryptography==48.0.0
debugpy==1.8.20
decorator==5.3.1
executing==2.2.1
fastapi==0.136.3
filelock==3.29.0
flatbuffers==25.12.19
fsspec==2026.4.0
gast==0.7.0
google-auth==2.53.0
google-auth-oauthlib==1.4.0
google-pasta==0.2.0
grpcio==1.80.0
h11==0.16.0
h5py==3.16.0
huggingface_hub==0.36.2
idna==3.16
ipykernel==7.2.0
ipython==9.14.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
keras==2.15.0
libclang==18.1.1
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
ml-dtypes==0.2.0
mpmath==1.3.0
msvc_runtime==14.44.35112
mysql-connector-python==9.7.0
nest-asyncio==1.6.0
networkx==3.6.1
numpy==1.26.4
oauthlib==3.3.1
opt_einsum==3.4.0
packaging==26.2
pandas==3.0.3
parso==0.8.7
pillow==12.2.0
platformdirs==4.10.0
prompt_toolkit==3.0.52
protobuf==4.25.3
psutil==7.2.2
pure_eval==0.2.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyngrok==8.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
pyzmq==27.1.0
regex==2026.5.9
requests==2.34.2
requests-oauthlib==2.0.0
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
sentence-transformers==3.0.1
six==1.17.0
stack-data==0.6.3
starlette==1.1.0
sympy==1.14.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
threadpoolctl==3.6.0
tokenizers==0.19.1
torch==2.4.0+cpu
torchvision==0.19.0+cpu
tornado==6.5.6
tqdm==4.67.3
traitlets==5.15.0
transformers==4.41.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
uvicorn==0.48.0
wcwidth==0.7.0
Werkzeug==3.1.8
wrapt==1.14.2
